.page-footer {
    margin-top: 3%;
    padding: 0;
}

.collection {
    margin-top: 3%;
}

.row {
    display: inline-block;
    width: 30%;
    margin:0 20px;
    padding: 10px;
}

.female{
    background-color: pink;
}
.search {
    background: white;
    margin: 10px 0px;
}

